<!DOCTYPE html>
<html>

<head th:replace="fragments/header :: header">
</head>

<body>
	<div th:replace="fragments/header :: navbar"></div>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row col-md-12">
			<div class="card mx-auto" style="width:500px; box-shadow: 20px 20px 50px grey;">
				<div class="card-header">
					<h2 class="text-center">Update Password</h2>
				</div>
				<div class="card-body">
					<form method="post" th:action="@{'/user/profile/updatePassword/' + ${user.id}}" th:object="${user}">
						<div class="form-group mb-3">
							<label class="form-label">Profile Password *</label>
							<input class="form-control" type="password" name="oldPassword" id="oldPassword" placeholder="Enter profile password"/>
							<p th:text="${errMessage}" class="text-danger">
							</p>
						</div>
						<div class="form-group mb-3">
							<label class="form-label">New Password *</label>
							<input class="form-control" type="password" name="password" id="password" th:field="*{password}" placeholder="Enter new password"/>
							<p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}">
							</p>
						</div>
						<div class="form-group mb-3 text-center">
							<button class="btn btn-primary" type="submit">Update</button>
						</div>
					</form>

				</div>
			</div>

		</div>

	</div>
</body>

</html>